<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-row justify-content-end>
      <ion-title>
        Home
      </ion-title>
      <ion-button size="small" color="danger" (click)="logout()">Log Out</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="isDogShown === true">
    <ion-header>
    </ion-header>
    <ion-card-content>
      <ion-img [src]="message"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-button color="primary" class="HomePageRandomBtn" (click)="getRandomDog()">Random Doggo</ion-button>

</ion-content>